@import "null_style";
@import "fonts";

$color-green: #3FA72F;
$color-orange:#FF8A00;
$color-orange-light:#FFE6C9;
$color-dark-light:#311F09;
$color-brown: #5C4529;


body{
    scroll-behavior: smooth;
}



.container{
    max-width: 1267px;
    padding-inline: 15px;
    margin: 0 auto;
    

    & .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;


    }

    & .nav-bar{
        display: flex;
        column-gap: 45px;
        font-family: 'Poppins', sans-serif;
    }

    & .header-action{
        display: flex;
        column-gap: 25px;

       & .header-btn{
            background: $color-green;
            font-weight: 600;
            padding: 15px 36px;
            border-radius: 134px;
            white-space: nowrap;
            a{
                color: #fff;
                font-family: 'Poppins', sans-serif;
            }
        }

    & .header-btn:hover{
        transform: scale(1.2);
        transition: transform 0.4s ease;
    }
    }

    & .nav-bar_item_link{
        display: inline-block;
        transition: transform 0.4s ease;
        color: $color-dark-light;

    }

    & .nav-bar_item_link-current{
        color: $color-orange;
    }

    .nav-bar_item_link:hover{
        transform: scale(1.2);
        transition: transform 0.4s ease;
        
    }


}

main{
    margin-top: 166px;

    
    & .restauran{
        display: inline-block;
        background: #ffe6c9;
        color: $color-orange;
        padding: 10px 34px;
        border-radius: 126px;
        margin-bottom: 23px;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
    }

    & .italian-cuisine{
        max-width: 288px;
        font-size: 80px;
        font-weight: 700;
        line-height: 88px;
        font-family: "Raleway", sans-serif;
        color: $color-dark-light;
        margin-bottom: 30px;
    }

    & .emmet-text{
        max-width: 523px;
        color: $color-brown;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        line-height: 200%;
        margin-bottom: 77px;
    }

    & button{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        a{
            color: #fff;
        }
    }

    & button:hover{
        transform: scale(1.1);
        transition: transform .4s ease ;
    }

    & .main-info_btn-left {
        padding: 17px 63px;
        background: $color-orange;
        border-radius: 163px;
        margin-right: 24px;
    }

    & .main-info_btn-right{
        background: $color-green;
        border-radius: 163px;
        padding: 17px 56px;
    }

}

.main-content{
    display: flex;
    justify-content: space-between;
    
}

@media (max-width:1024px) {
    .main-content{
        display: block;
    }
    
    .restauran{
        margin-top: 56px;
    }

    main{
        margin-top: 0;
    }
    
    
}